.form {
    border-style: double;
    border-width: 7px;
    border-style: double;
    border-color: black;
    border-radius: 6px;
    max-width: 650px;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    opacity: 0.7;
    padding-top: 15px;
    padding-bottom: 20px;
}

.form__legend {
    font-size: x-large;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.form__text {
    display: inline-block;
    padding: 10px 0 10px 10px;
}

.form__input {
    margin: 10px 0 10px 10px;
    width: 150px;
}

.form__result {
    font-size: large;
}

.form__buttonDiv {
    display: flex;
    justify-content: center;
    padding: 5px 4px 0 4px;
}

.form__button {
    border-radius: 6px;
    width: 100%;
    max-width: 650px;
    background-color: hsl(0, 0%, 100%);
    opacity: 0.7;
}

.form__button:hover {
    background-color: hsl(0, 3%, 19%);
}

.form__button:active {
    background-color: hsl(48, 51%, 89%);
}